.bg-wood-texture {
    background-image: url('https://e0.pxfuel.com/wallpapers/448/775/desktop-wallpaper-waving-goodbye-to-old-windows-xp-jay-manaloto-ibm.jpg'); 
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: overlay; 
}
  